@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next {
  background-image: url(./assets/Swiperassets/next.svg);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background-image: url(./assets/Swiperassets/back.svg);
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-bullet {
  background-color: #00d7f7;
}

.bgpic {
  background-image: url("./assets/footer.svg");
  background-repeat: no-repeat;
}
